                .cartStyleFixed
                    table
                        tr
                            th Fläche
                            th Mangat
                            th Emin
                            th Stickstoff
                            th Datum
                            th Entfernen
                .cartStyle
                    table
                        each product in UserCart.products
                            tr
                                td
                                    .imgDivFleache
                                        p= product[4] 
                                        img(name = 'imgFlaeche'+product[0], src=product[8], alt='Bildbeschreibung')
                                td                                        	
                                    input(type='checkbox', name='myCheckboxMangat', value='1', checked=(product[9] === 1), disabled ='true')
                                td
                                    input(type='checkbox', name='myCheckboxEmin', value='1', checked=(product[10] === 1), disabled ='true')
                                td
                                    input(type='checkbox', name='myCheckboxStickstogg', value='1', checked=(product[11] === 1), disabled ='true')

                                - if (product[6]) 
                                    td= product[6].toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' })
                                - else
                                    td= 'No Date' 

                                td.tdright
                                    .cartButton
                                        button(onClick='deleteFromCart('+product[0]+')') Löschen    
                .cartStyleFixedButton
                    table                                                                                             
                        tr 
                            td
                            td
                            td
                            td.tdright
                                .btn(class='bestellbutton' onClick='initiateOrder()') Bestellung abschließen  