
  .mainContainer
      .col-2Filter
        .col-33Filter
                .cartStyleFixed
                    table
                        tr
                            th Filter
                        tr
                            td
                                label(id='sonstigesLable') Nmin:   
                                input(type='checkbox', name='filterNmin', value='1', checked) 
                        tr
                            td
                                label(id='sonstigesLable') Smin:   
                                input(type='checkbox', name='filterSmin', value='1', checked) 
                        tr
                            td
                                label(id='sonstigesLable') Humus:   
                                input(type='checkbox', name='filterHumus', value='1', checked) 
                        tr
                            td       
                                label(id='sonstigesLable') C/N:   
                                input(type='checkbox', name='filterCN', value='1', checked)
      .col-2MapMitarbeiter