doctype html
html
  head
    
    title= 'VH Bodenproben'
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css')
    link(rel='stylesheet', href='/stylesheets/styleNeu.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', rel='stylesheet')

    script(src="https://unpkg.com/@mapbox/shp-write@latest/shpwrite.js")
 
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script(src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js")
    script(src="https://unpkg.com/shpjs@latest/dist/shp.js")
    script(src="https://unpkg.com/shapefile@0.6")
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js")
    script(src="https://unpkg.com/shpjs@latest/dist/shp.js")
    script(src="https://unpkg.com/shapefile@0.6")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.0/proj4.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.0/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.1/proj4.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.0/proj4.js")
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.1/proj4.js")
    script(src="https://unpkg.com/@mapbox/shp-write@latest/shpwrite.js")


  
   
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='#')
          .row
            .col-md-2
              img.img-fluid.align-self-stretch(src='images/bodenprobenvh.gif', alt='Bild', style='width: 100px; height: auto;')
            .h5.font-weight-bold(style='margin-bottom: 0px;') Bodenproben von Höfen
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            //- Hier wird ml-auto verwendet
            li.nav-item.active
              a.nav-link.h5.font-weight-bold(style='margin-bottom: 0px;', href='#') Kartenansicht
            li.nav-item
              a.nav-link.h5.font-weight-bold(style='margin-bottom: 0px;', href='#') Kundenansicht
            li.nav-item
              a.nav-link.h5.font-weight-bold(style='margin-bottom: 0px;', href='#') Konto
    block content 
    footer.primary-backgroundcolor.text-white.text-center.py-2
      | &copy; 2023 Bodenproben von Höfen
    //- Link zu Bootstrap JavaScript (optional)
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

script.
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }

      
    





        
    
