extends layout

block content 
    .cartStyle.searchpage
        h1 Ihre Suche ergab folgendes: 
        button(onClick='hierFhun') Hier klicken!
        p= sessionStorage.getItem("userName")

    script.
        function hierFhun() {
        var searchInput = document.getElementById("searchInput").value;
        console.log("Searching for: " + searchInput);
        var userName = sessionStorage.getItem("userName");
        alert(userName);
        }