
extends layout

block content
    if messages.error
        .notificationred
            p= messages.error
            script.
                setTimeout(function() {
                var notification = document.querySelector(".notificationred");
                notification.parentNode.removeChild(notification);
                }, 3000);
    .mainContainer
      .col-2
        img(src='images/lebensmittelEinkaufswagen.png')      
      .col-2
        .form-container
            .form-btn
                span(onclick='login()') Anmelden
                span(onclick='register()') Registrieren
                hr#Indicator
            .formLoginResgister
                form#LoginForm(action='/account/login' method='post')
                    input(type='email' name='email' placeholder='E-Mail' required)
                    input(type='password' name='password' placeholder='Password' required)
                    button.btn.bigBtn(type='submit') Anmelden
                form#RegForm(action='/account/register' method='post')
                    input(type='email' name='email' placeholder='E-Mail' required)
                    input(type="text" placeholder='Vorname' name='vorname') 
                    input(type="text" placeholder='Nachname' name='nachname') 
                    input(type='date' name='date' placeholder='Geburtsdatum') 
                    input(type='text' name='ort' placeholder='Ort') 
                    input(type='number' name='plz' placeholder='Postleitzahl')
                    input(type='text' name='strasse' placeholder='Straße') 
                    input(type='number' name='hausnummer' placeholder='Hausnummer') 
                    input(type='password' placeholder='Passwort' name='password' required) 
                    button.btn.bigBtn(type='submit') Registrieren     
   
                    
    script.
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var LoginForm = document.getElementById("LoginForm");
        var Indicator = document.getElementById("Indicator");
        function register(){
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }
        function login(){
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }